# Doxygen
html/
latex/

# MacOS 
.DS_Store
.AppleDouble
.LSOverride
._*

# STM32
.metadata
.settings
[Rr]elease
[Dd]ebug
.launch

#IDE-specific
.vscode
.idea
kelpie-f446/cmake-build-debug/
kelpie-f446/cmake-build-debug/*
kelpie-f446/CMakeLists.txt
kelpie-f446/CMakeLists_template.txt
2023-underwater-microcontroller.code-workspace
